<mat-sidenav-container class="sidenav-container" autosize>
	<mat-sidenav #sidenav class="sidenav mat-elevation-z10" [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall() && hasSidenav">
		<mat-toolbar color="primary">
			<span>Side Navigation</span>
		</mat-toolbar>
		<router-outlet name="sidenav"></router-outlet>
	</mat-sidenav>
	<div class="sidenav-content">
		<app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
		<div class="outlet-wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>
</mat-sidenav-container>