<mat-dialog-content>

	<h3 mat-dialog-title>Create user {{ !!user.avatar?.length }}</h3>
	<form class="register-container" [formGroup]='regForm'>
		<mat-form-field color="accent" class="my-2">
			<input matInput placeholder="Username" required formControlName="username" [class.text-success]="username.valid">
			<mat-hint align="start" class="text-danger" *ngIf="username.invalid && username.dirty">{{
				getErrorMessage().usernameError }}</mat-hint>
		</mat-form-field>

		<mat-form-field color="accent" class="my-2">
			<input matInput placeholder="Enter your email " required formControlName="email" [class.text-success]="email.valid">
			<mat-hint align="start" class="text-danger" *ngIf="email.invalid && email.dirty">{{ getErrorMessage().emailError }}</mat-hint>
			<mat-hint align="end" [ngClass]="{ 'text-muted' : email.valid || email.pristine }">example@domain.com</mat-hint>
		</mat-form-field>

		<mat-form-field color="accent" class="my-2">
			<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required formControlName="password"
			 [class.text-success]="password.valid">
			<mat-icon matSuffix (click)="hide=! hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
			<mat-hint align="start" class="text-danger" *ngIf="password.invalid && password.dirty">{{
				getErrorMessage().passwordError }}</mat-hint>
			<mat-hint align="end" [class.text-success]="password.valid" *ngIf="password.valid && password.value">{{
				password.value.length }}/30</mat-hint>
			<mat-hint align="end" [class.text-danger]="!password.valid" *ngIf="!password.valid && password.value">{{
				password.value.length }}/30</mat-hint>
			<!-- <mat-hint align="end" [ngClass]="{ 'text-success' : password.valid, 'text-danger' : !password.valid }" *ngIf="password.value.length && !password.valid">
	            {{ password.value.length }}/30 characters
	        </mat-hint> -->
		</mat-form-field>

		<mat-form-field color="accent" class="my-2">
			<input matInput placeholder="Repeat your password" [type]="hide ? 'password' : 'text'" required formControlName="repeat"
			 [class.text-success]="repeat.valid">
			<mat-icon matSuffix (click)="hide=! hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
			<mat-hint align="start" class="text-danger" *ngIf="repeat.invalid && repeat.dirty">{{ getErrorMessage().repeatError
				}}</mat-hint>
			<mat-hint align="end" [class.text-success]="repeat.valid" *ngIf="repeat.valid && repeat.value">{{
				repeat.value.length }}/{{ password.value.length }}</mat-hint>
			<mat-hint align="end" [class.text-danger]="!repeat.valid" *ngIf="!repeat.valid && repeat.value">{{
				repeat.value.length }}/{{ password.value.length }}</mat-hint>
		</mat-form-field>

		<mat-divider class="my-4"></mat-divider>

		<mat-form-field color="accent" class="my-2">
			<mat-select placeholder="Avatar" [(ngModel)]="user.avatar" [ngModelOptions]="{standalone: true}">
				<mat-select-trigger>
					<mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.avatar }}
				</mat-select-trigger>
				<mat-option *ngFor="let avatar of avatars" [value]="avatar">
					<mat-icon svgIcon="{{avatar}}"></mat-icon> {{ avatar }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field color="accent" class="my-2">
			<input matInput placeholder="Tagline" formControlName="tagline" [class.text-danger]="tagline.value?.length > 35">
			<mat-hint align="start" class="text-danger" *ngIf="tagline.invalid && tagline.dirty">{{
				getErrorMessage().taglineError }}</mat-hint>
			<mat-hint align="end" [class.text-danger]="!tagline.valid" *ngIf="!tagline.valid && tagline.value">{{
				tagline.value.length }}/30</mat-hint>
		</mat-form-field>

		<mat-dialog-actions class="d-flex flex-row justify-content-center">
			<button mat-button (click)="register()" [disabled]="regForm.invalid">Create</button>
			<button mat-button (click)="reset()" [disabled]="regForm.pristine">Reset</button>
		</mat-dialog-actions>

	</form>
</mat-dialog-content>