@import '../../../assets/_variables';

.register-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
	width: 450px;
	height: 620px;
    @media (max-width: 720px) {
        width: auto;
    }
    mat-form-field {}
    mat-dialog-actions {
	}
	
	mat-divider{
	}
}