@import '../../../assets/variables';

.comment{
	margin-top: 25px;
	margin-right: -20px;
	margin-bottom: -20px;
	
	box-shadow: 
	-2px -3px 5px -1px rgba(0,0,0,.2),
	-2px -2px 10px 1px rgba(0,0,0,.14),
	-2px -1px 25px 5px rgba(0,0,0,.12) !important;
	
	.comment-form{
		margin: 50px auto;
		.form-actions{
			display: flex;
		}
	}

	&.selected-comment{
	}
}