<!-- <div class="users" *ngFor="let user of users">
	<mat-card class="user" [routerLink]="['/users/', user._id]">
		<mat-card-header>
			<mat-card-title>{{ user.username }}</mat-card-title>
			<mat-card-subtitle class="text-muted">
				<i>{{ user.tagline ? user.tagline : 'i pwn n00bz'}}</i>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<span>Biography</span>
			<p>{{ user.bio ? user.bio : 'In the beginning there were nothing. And ever since it has just been uphill...'}}</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button color="accent">Like</button>
			<button mat-button color="accent">Share</button>
		</mat-card-actions>
	</mat-card>
</div> -->
<div class="spinner" *ngIf="!users.length">
	<mat-spinner class="mx-auto"></mat-spinner>
</div>
<mat-nav-list class="users-list" *ngIf="users">
	<mat-list-item *ngFor="let user of users" [routerLink]="['/users/', user._id]" [@EnterLeave]="'flyIn'">
		<mat-icon svgIcon="{{ user.avatar ? user.avatar : 'svg-3' }}" class="mr-1"></mat-icon>
		{{ user.username }}
	</mat-list-item>
</mat-nav-list>