@import '../../../assets/variables';

.post{
	margin-bottom: 20px;
	background-color: transparent;
	box-shadow: none !important;

	.comment-form{
		margin: 100px auto;
		.form-actions{
			display: flex;
		}
	}

	.btn-vote{
		&:hover mat-icon{
			color: $color-accent;
		}
	}
}