@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'assets/_variables';
@import 'assets/purple-gekko';
.color-primary {
    color: $color-primary;
}

.color-accent {
    color: $color-accent;
}

body {
    margin: 0;
}